<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BGPT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h2>Bitcoin Growth Prediction by Tweets</h2>
    <form method="post" action=".">
        {{ form.csrf_token }}
        <div>{{ form.tweet_text.label }}</div>
        <div>{{ form.tweet_text }} </div>
        <div></div><button type="submit">Predict</button></div>
    </form>
    {% if error %}
    <p><strong style='color: red;'>* </strong> {{error}} </p> 
    {% endif %}

    <h3>Result</h3>
    {% for message in messages %}
    <div>{{ message }}</b></div>
    {% endfor %}

</body>
</html>